<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title class="text-left">@ViewBag.Title - TuntiLeimaus</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body, html {
            background-image: url("../../Images/Careeria logo[185].jpg");
            background-color:white;
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 200px;
            margin: 5px;
          
        }

        h1
        { 

            font-family: Arial, Helvetica, sans-serif;
        }
        .footer {
            position: fixed;
        }

        .dropbtn {
            background-color: black;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed text-center" style="margin-bottom: 0px; padding: 20px; margin-top: 20px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TuntiLeimaus", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Opettaja", "Index", "Opettaja")</li>
                    <li>@Html.ActionLink("Oppilas", "Index", "Oppilas")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle disabled" data-toggle="dropdown">Linkit <span class="caret"></span></a>
                        <div class="dropdown-content">
                            <a href="http://www.pointcollege.fi/">Point College</a>
                            <a href="https://www.office.com/?auth=2&home=1">Sähköposti</a>
                            <a href="https://moodle.pointcollege.fi/login/index.php">Moodle</a>
                            <a href="https://wilma.pointcollege.fi/">Wilma</a>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()

    @*<footer class="footer">

        <div class="container">
            <p class="w3-margin-top">find us on social media</p>
            <a href="https://www.facebook.com/pointcollege1/" class="fa fa-facebook-official fa-2x"></a>
            <a href="https://www.instagram.com/pointcollegeporvoo/" class="fa fa-instagram fa-2x"></a>
            <a href="https://www.linkedin.com/in/maria-ahokas/" class="fa fa-pinterest-p fa-2x"></a>
            <a href="https://twitter.com/pointcollege" class="fa fa-twitter fa-2x"></a>
            <a href="https://www.linkedin.com/company/porvoo-international-college-oy/" class="fa fa-linkedin fa-2x"></a>
            <p class="w3-margin-top"></p>
        </div> 
    </footer>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
